In [1]:
import pandas as pd
df0 = pd.read_csv('pca.txt')
df0.head()

           player      pca0      pca1      pca2
0      Geno Smith -2.758995 -0.861308  1.385933
1  Ryan Tannehill  0.707247  0.778092 -0.832187
2  Brandon Weeden  0.234863 -0.193391 -0.029960
3      Joe Flacco  0.514200  0.074003  0.331315
4      Matt Flynn -2.359384 -0.665541 -0.062287

In [5]:
players = df0['player'].unique()
avgs = []

for p in players:
    df = df0[df0['player'] == p]
    avgs.append(dict(
        player=p,
        pca0=df['pca0'].abs().mean(),
        pca1=df['pca1'].abs().mean(),
        pca2=df['pca2'].abs().mean()
    ))
df_avg = pd.DataFrame(avgs)
df_avg.head()

           player      pca0      pca1      pca2
0      Geno Smith  1.415860  0.882803  0.787370
1  Ryan Tannehill  0.936428  0.830429  0.827560
2  Brandon Weeden  1.269573  0.850619  0.861855
3      Joe Flacco  0.839795  0.705724  0.950068
4      Matt Flynn  1.853000  1.106098  1.063228

In [6]:
df_avg.to_csv('career.txt', index=False)