In [1]:
import pandas as pd
df0 = pd.read_csv('standard.txt')

print(df0.shape)
df0.head()

(8723, 10)

,player,season,quint,home,cmp%,attempts,ny/a,carries,ypc,td:to
0,Geno Smith,0.424688,0.360108,0.998912,-1.731589,-1.929814,-1.996211,-0.745945,-0.333316,-0.660409
1,Ryan Tannehill,0.424688,0.360108,-1.000975,0.355435,0.921932,0.537252,0.029335,0.932606,0.417611
2,Brandon Weeden,0.424688,0.360108,0.998912,-0.069699,0.662682,0.765196,-0.358305,-0.214636,-0.660409
3,Joe Flacco,0.424688,0.360108,0.998912,0.642539,0.230600,0.057949,0.416975,-0.392656,-0.121399
4,Matt Flynn,0.424688,0.360108,-1.000975,-0.900644,-1.065648,-1.142494,-0.358305,-0.333316,-1.738429

In [3]:
# use PCA to reduce the number of features
from sklearn.decomposition import PCA
reducer = PCA(n_components=3, random_state=143)
obfus = reducer.fit_transform(df0[df0.columns.drop('player')])
df1 = pd.DataFrame(obfus, columns=['pca0', 'pca1', 'pca2'])
df1['player'] = df0['player']
df1 = df1[['player', 'pca0', 'pca1', 'pca2']]

df1.head()

           player      pca0      pca1      pca2
0      Geno Smith -2.758995 -0.861308  1.385933
1  Ryan Tannehill  0.707247  0.778092 -0.832187
2  Brandon Weeden  0.234863 -0.193391 -0.029960
3      Joe Flacco  0.514200  0.074003  0.331315
4      Matt Flynn -2.359384 -0.665541 -0.062287

In [6]:
df1.to_csv('pca.txt', index=False)